<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="demo">
        <ul>
             <li v-for="(item, index) in items">  {{ parentMessage }} - {{ index }} - {{ item.message }}</li>
        </ul>


        <ul>
             <li v-for="item of items">  {{ parentMessage }} - {{ item.message }}</li>
        </ul>

    </div>

    <script type="text/javascript">
        var vm=new Vue({
            el:"#demo",
            data:{
                parentMessage:"Parent",
                items:[
                    { message: 'Foo' },
                    { message: 'Bar' }      
                ]
            }
        })
    </script>
</body>

</html>