<!DOCTYPE html>
<html>
<head>
	<title>
		{block name="title"}
				index页面
		{/block}
	</title>
	<link rel="stylesheet" type="text/css" href="__STATIC__/css/base.css">
</head>
<body>
		<div class="coms-header">
			{include file="common/nav"}
		</div>
		<div class="coms-body-container">
			<div class="coms-sidebar"></div>
			<div class="coms-main-container">
				{block name="body"}
					
				{/block}
			</div>

		</div>


		<div class="coms-footer">
			{block name="footer"}
					默认
			{/block}
		</div>


</body>
</html>