<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>管理后台首页</title>
	<link rel="stylesheet" type="text/css" href="<%= serverStaticUrl %>/static/common/css/base.css">
	<link rel="stylesheet" type="text/css" href="<%= serverStaticUrl %>/static/common/js/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="<%= serverStaticUrl %>/static/admin/css/common.css">
	<link rel="stylesheet" type="text/css" href="<%= serverStaticUrl %>/static/admin/css/admin.css">
	<script type="text/javascript" src="<%= serverStaticUrl %>/static/common/js/jquery/jquery-1.12.4.js"></script>
</head>
<body>
	  <div class="com-layout-header">
		<p class="header-top-tit">管理后台</p>
		<div class="header-top-avatar">
			<div class="avatar-info">
				<a href="#" class="clearfix">
					<div class="pic"><img src="/static/admin/upload/01.jpg"></div>
					<p class="txt">杨艺辉</p>
				</a>
			</div>
			<div class="avatar-handle">
				<a href="#">信息修改</a>
				<a href="#">退出</a>
			</div>
		</div>
	  </div>
	  <div class="com-layout-container">
			<div class="com-layout-aside">
				@@include("./views/_aside.html")
			</div>
			<div class="com-layout-content">
				<div class="bread-nav-box">
					<p class="tit">文章列表</p>
				</div>
			</div>
	  </div>

	  <script type="text/javascript">
	  		$(function(){
	  			// $(".aside-nav-list").find("li.current").parents("li").addClass("active");
	  		})
	  </script>
</body>
</html>