<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>管理后台 角色列表</title>
	<script type="text/javascript" src=""></script>
	<link rel="stylesheet" type="text/css" href="<%= serverStaticUrl %>/static/common/css/base.css">
	<link rel="stylesheet" type="text/css" href="<%= serverStaticUrl %>/static/common/js/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="<%= serverStaticUrl %>/static/admin/css/common.css">
	<link rel="stylesheet" type="text/css" href="<%= serverStaticUrl %>/static/admin/css/admin.css">
</head>
<body>
	<!-- 头部 start -->
	 @@include("./views/_header.html")
	<!-- 头部 end -->
	 <div class="com-layout-container">
			<div class="com-layout-aside">
				 @@include("./views/_aside.html")
			</div>
			<div class="com-layout-content">
				<div class="bread-nav-box clearfix">
					<p class="tit fl">角色列表</p>
					<a href="role-add.html" class="btn btn-success fr mt15">添加角色</a>
				</div>
				<div class="ml20 mr20 pt30">
					<div class="bg-fff">
						<table class="role-list-tbl">
							<thead>
								<tr>
									<th>名称</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>admin</td>
									<td>
										<a href="role-edit.html" class="btn btn-info mr10">修改</a>
										<a href="#" class="btn btn-danger">删除</a>
									</td>
								</tr>
								<tr>
									<td>ptadmin</td>
									<td>
										<a href="role-edit.html" class="btn btn-info mr10">修改</a>
										<a href="#" class="btn btn-danger">删除</a>
									</td>
								</tr>
								<tr>
									<td>user</td>
									<td>
										<a href="role-edit.html" class="btn btn-info mr10">修改</a>
										<a href="#" class="btn btn-danger">删除</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

	  </div>
</body>
</html>