.page-login{
	margin-top:50px; 
}

.page-login .yzm-pic{
	
	float:left; 
	width: 100px;
	height:38px;
	overflow: hidden; 
}
.page-login .yzm-pic img{
	width:100%;
	height:100%;  

}
.page-login .yzm-kbq{
	float:left;
	margin-left:10px; 
	line-height:38px;
	cursor:pointer;   
}

