<div class="p15">
    {include file="common/breadcrumb" /}
    <div class="pl30 pr30 mt20">
	    <div class="coms-table-wrap">
	        <div class="coms-table-bd">
	            <table class="am-table am-table-bordered">
	                <thead>
	                    <tr>
	                        <!-- th 中 复选框的宽度 写死 固定50  然后其他的用百分比，但是必须有一个是不要设置值得(这样可以自适应省去计算麻烦) -->
	                        <th width="50">
	                            <input type="checkbox" />
	                        </th>
	                        <th width="8%"><span>ID</span></th>
	                        <th width="15%"><span>用户名</span></th>
	                        <th width="15%"><span>邮箱</span></th>
	                        <th width="15%"><span>电话码号</span></th>
	                        <th width="10%"><span>状态</span></th>
	                        <th><span>操作</span></th>
	                    </tr>
	                </thead>
	                <tbody>
	                    <tr>
	                        <td>
	                            <input type="checkbox" />
	                        </td>
	                        <td>1</td>
	                        <td>yyh1</td>
	                        <td>948061564@qq.com</td>
	                        <td>13850502055</td>
	                        <td>正常</td>
	                        <td>
	                            <a href="#" class="am-btn am-btn-danger am-btn-xs">删除</a>
	                            <a href="#" class="am-btn am-btn-primary am-btn-xs">修改</a>
	                        </td>
	                    </tr>
	                    
	                </tbody>
	            </table>
	        </div>
	    </div>
    </div>
</div>