<div class="p15">
    {include file="common/breadcrumb" /}
    <div class="am-form am-form-horizontal">
        <form>
            <div class="am-form-group">
                <label class="am-para-label">角色名：</label>
                <div class="am-para-input">
                    <input type="text" required name="name"  />
                </div>
            </div>
            <div class="am-form-group">
                <label class="am-para-label">角色描述：</label>
                <div class="am-para-input">
                    <input type="text" required name="intro"  />
                </div>
            </div>

            <div class="am-form-group">
                <label class="am-para-label"></label>
                <div class="am-para-input">
                    <input type="text" required name="intro"  />
                </div>
            </div>
        </form>
    </div>
</div>