<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {block name="title"}<title>网站标题</title>{/block}
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/base.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/js/bootstrap/css/bootstrap.css">
    <script type="text/javascript" src="__STATIC__/js/jquery/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="__STATIC__/js/bootstrap/js/bootstrap.js"></script>
</head>

<body>
{block name="title"}<title>{$web_title}</title>{/block}
   
   
sfdasdf
</body>

</html>