/**
 * 
 */

.coms-layout-top {
    height: 50px;
    line-height: 50px;
    background: #23282d;
    padding: 0 20px;
     position: relative;
    z-index: 10;
}

.coms-layout-top .user-avatar {
    float: right;
    color: #fff;
}

.coms-layout-top .user-avatar a {
    color: #fff;
}

.coms-layout-top .user-avatar .name {
    float: left;
    margin-right: 5px;
}

.coms-layout-top .user-avatar .pic {
    float: left;
    width: 24px;
    height: 24px;
    line-height: 24px;
    margin-top: 13px;
    overflow: hidden;
    border-radius: 100%;
}

.coms-layout-top .user-avatar .pic img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.coms-layout-top .nav-top{
    float: right;
    color:#fff;
    margin-right:30px;  
}
.coms-layout-top .nav-top li{
    float:left;
    margin: 0 7px;
    display: inline;
}

.coms-layout-top .nav-top li a{
     color:#fff;
     font-size:16px; 
}
.coms-layout-top .nav-top li a:hover{
    text-decoration: underline;
}

.coms-layout-top .loginout {
    margin-left: 16px;
    text-decoration: underline;
}

.coms-layout-wrap {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    padding-top: 50px;
}

.coms-layout-aside {
    background: #23282d;
    position: absolute;
    left: 0;
    top: 50px;
    bottom: 0;
    width:230px;
    overflow-y: scroll;
    color:#fff;
}

.coms-layout-aside::-webkit-scrollbar-track-piece {
    background-color: #f8f8f8;
}

.coms-layout-aside::-webkit-scrollbar {
    width:6px;
    height:6px;
}

.coms-layout-aside::-webkit-scrollbar-thumb {
    background-color:rgba(0,0,0,0.8);
    background-clip: padding-box;
    min-height: 28px;
    border-radius: 15px;

}

.coms-layout-aside::-webkit-scrollbar-thumb:hover {
    background-color: #bbb;
}


.coms-layout-main{
    margin-left:250px;
    height: 100%;
    position: relative;
    overflow-y:scroll; 
}










/**
 * 上传控件
 */

.coms-zoom-img {
    float: left;
    padding: 30px;
}

.coms-zoom-img .no-pic {
    width: 88px;
    height: 75px;
    margin: 0 auto;
    overflow: hidden;
    background: url("../images/pagecolumn/not_img_pic.png") no-repeat top center;
}

.coms-zoom-img .upload-img {
    float: left;
    min-width: 142px;
    padding-bottom: 15px;
}

.coms-zoom-img .upload-img li {
    float: left;
    width: 120px;
    height: 120px;
    margin: 0 11px;
    overflow: hidden;
    position: relative;
}

.coms-zoom-img .upload-img li .img-wrap {
    border: 1px solid #e5e5e5;
    width: 120px;
    height: 120px;
    text-align: center;
    line-height: 120px;
}

.coms-zoom-img .upload-img li .img-wrap.preview {
    background: url("../images/pagecolumn/bg.png") repeat top center;
}


.coms-zoom-img .upload-img img {
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}

.coms-zoom-img .upload-img .handle-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 5px;
    height: 30px;
    line-height: 30px;
    background-color: rgba(0, 0, 0, 0.8);
}

.coms-zoom-img .upload-img .handle-bar .upload-btn {
    float: left;
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}

.coms-zoom-img .upload-img .handle-bar .del-btn {
    float: right;
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}

.coms-zoom-img .upload-img .error {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background: #f60;
    color: #fff;
    font-size: 12px;
    display: none;
}

.coms-zoom-img .upload-img .success {
    width: 40px;
    height: 40px;
    background: url("../images/pagecolumn/success.png") no-repeat top center;
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
}

.coms-zoom-img .upload-img .progress {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 15px;
    overflow: hidden;
    z-index: 50;
    margin-bottom: 0;
    display: none;
}

.coms-zoom-img .upload-img .progress span {
    overflow: hidden;
    width: 0;
    height: 100%;
    display: block;
    background: #1483d8 url(../images/pagecolumn/progress.png) repeat-x;

    -webit-transition: width 200ms linear;
    -moz-transition: width 200ms linear;
    -o-transition: width 200ms linear;
    -ms-transition: width 200ms linear;
    transition: width 200ms linear;

    -webkit-animation: progressmove 2s linear infinite;
    -moz-animation: progressmove 2s linear infinite;
    -o-animation: progressmove 2s linear infinite;
    -ms-animation: progressmove 2s linear infinite;
    animation: progressmove 2s linear infinite;

    -webkit-transform: translateZ(0);
}

@-webkit-keyframes progressmove {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 17px 0;
    }
}

@-moz-keyframes progressmove {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 17px 0;
    }
}

@keyframes progressmove {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 17px 0;
    }
}

.coms-zoom-img .uploader-server {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background: green;
    padding: 10px 15px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    overflow: hidden;
    margin: 0 auto;
}


/**
 * 分页
 */

.pagination-box {
    text-align: center;
    padding: 15px 0 25px;
    margin-top: 30px;
    font-size: 12px;
}

.pagination-box .current {
    border: none !important;
}

.pagination-box span {
    padding: 0 15px;
    display: inline-block;
}

.pagination-box .page-form {
    display: inline-block;
}

.pagination-box a,
.pagination-box span.page {
    display: inline-block;
    width: 28px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: #333;
    border: 1px solid #C2D5E3;
    vertical-align: middle;
    font-size: 12px;
    margin: 0 3px;
}

.pagination-box a.prev,
.pagination-box span.prev {
    width: auto;
    padding: 0 10px 0 23px;
    background: url("../images/prev_arrow.gif") no-repeat 5px center;
}


.pagination-box a.next,
.pagination-box span.next {
    width: auto;
    padding: 0 23px 0 10px;
    background: url("../images/next_arrow.gif") no-repeat 48px center;
}

.pagination-box a:hover {
    border-color: #369;
    color: #369;
}

.pagination-box .first,
.pagination-box .last {
    padding: 0 10px;
    white-space: normal;
    width: auto;
    s
}

.pagination-box .pageform {
    display: inline;
}

.pagination-box span.disabled {
    border-color: #eee;
    color: #c1c1c1;
    cursor: default;
    width: auto;
}

.pagination-box .disabled:hover {
    border-color: #eee;
    color: #c1c1c1;
    text-decoration: none;
}



