.columns-h-tbl{
	width: 100%;
	border:1px solid #4FB4DE;
	margin-top: 20px;
}
.columns-h-tbl td,.columns-h-tbl th{
	padding: 6px;
	border:1px solid #4FB4DE;
	text-align: center;
}
.columns-h-tbl td.align-l{
	text-align:left;
}

.columns-nodata{
	text-align: center;
}
.columns-nodata .txt-1{
	font-size: 18px;
	
	padding: 50px 0 20px;
}
.columns-h-tbl td.first{
	text-align: left;
}

.columns-h-tbl .handle a{
	display: inline-block;
	margin: 0 5px;
	text-decoration: underline;
}

.columns-h .soma-hd{
	padding: 30px 0 5px;
}

.col-add-tbl{
	width: 100%;
	margin-top: 30px;
	border:1px solid #666;
}

.col-add-tbl td{
	border:1px solid #666;
	padding: 10px;
}

.col-add-tbl .sel-1{
	padding: 10px;
	width: 200px;
	overflow: scroll;
}


.dir-tbl .dir-up td{
	background:#DBEAF5; 
}


.col-add-error-box{
	margin-top: 20px;
	border:2px solid #f60;
	padding: 15px;
}

.uploader-default-container{
	
	
}
.uploader-default-container .tip-1{
	font-size: 18px;
	color: #ccc;
	text-align: center;
}

.uploader-no-pic{
	width: 88px;
	height: 75px;
	margin: 0 auto;
	overflow: hidden;
	background: url("../images/pagecolumn/not_img_pic.png") no-repeat top center;
}
.filepicker-container{
	padding: 15px 0;
	text-align: center;
	
}
.zoom-container{
	width: 180px;
	position: relative;
}
.zoom-container .filepicker-container{
		
}
.zoom-container .upload-btn{
	    background: #00b7ee;
    border: 1px solid #cfcfcf;
    color: #fff;
    padding: 0 18px;
    display: inline-block;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 14px;
    position: absolute;
    right:-50px;
    top:35px;
    display: none;
}



/**
 *编辑栏目
 */
.col-edit-tbl{
    width: 100%;
    margin-top: 30px;
    border:1px solid #666;
}

.col-edit-tbl td{
    border:1px solid #666;
    padding: 10px;
}
.col-edit-tbl td.para-tit{
    text-align: right;
    font-weight: bold;
}
.col-edit-tbl .sel-type-1{
        padding: 10px;
    width: 200px;
    overflow: scroll;
}

.col-edit-tbl .filedir-tbl .dir-up td{
    background:#DBEAF5; 
}
.col-edit-tbl .zoom-img{
    float: left;
    padding:30px;
    
}
.col-edit-tbl .zoom-img .no-pic{
    width: 88px;
    height: 75px;
    margin: 0 auto;
    overflow: hidden;
    background: url("../images/pagecolumn/not_img_pic.png") no-repeat top center;
}
.col-edit-tbl .zoom-img .upload-img{
   float: left;
   min-width: 142px;
   padding-bottom:15px;
}
.col-edit-tbl .zoom-img .upload-img li{
    float: left;
    width: 120px;
    height: 120px;
    margin: 0 11px;
    overflow: hidden;
    position: relative;
}

.col-edit-tbl .zoom-img .upload-img li .img-wrap{
    border:1px solid #e5e5e5;
    width: 120px;
    height: 120px;
     text-align:center;
    line-height: 120px;
}
.col-edit-tbl .zoom-img .upload-img li .img-wrap.preview{
    background: url("../images/pagecolumn/bg.png") repeat top center;
}


.col-edit-tbl .zoom-img .upload-img img{
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}

.col-edit-tbl .zoom-img .upload-img .handle-bar{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 5px;
    height:30px;
    line-height:30px;
    background-color: rgba(0,0,0,0.8);
    
}
.col-edit-tbl .zoom-img .upload-img .handle-bar .upload-btn{
     float: left;
     color:#fff;
     text-decoration: underline; 
     cursor: pointer;
}
.col-edit-tbl .zoom-img .upload-img .handle-bar .del-btn{
    float: right;
    color:#fff;
    text-decoration: underline;
    cursor: pointer;
}
.col-edit-tbl .zoom-img .upload-img  .error{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background: #f60;
    color:#fff;
    font-size: 12px; 
    display: none;
}
.col-edit-tbl .zoom-img .upload-img .success{
    width: 40px;
    height: 40px;
    background: url("../images/pagecolumn/success.png") no-repeat top center;
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
}
.col-edit-tbl .zoom-img .upload-img .progress{
     position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height:15px;
    overflow: hidden;
    z-index: 50;
    margin-bottom: 0;
    display: none;
}

.col-edit-tbl .zoom-img .upload-img .progress span{
    overflow: hidden;
    width: 0;
    height: 100%;
    display: block;
    background: #1483d8 url(../images/pagecolumn/progress.png) repeat-x;

    -webit-transition: width 200ms linear;
    -moz-transition: width 200ms linear;
    -o-transition: width 200ms linear;
    -ms-transition: width 200ms linear;
    transition: width 200ms linear;

    -webkit-animation: progressmove 2s linear infinite;
    -moz-animation: progressmove 2s linear infinite;
    -o-animation: progressmove 2s linear infinite;
    -ms-animation: progressmove 2s linear infinite;
    animation: progressmove 2s linear infinite;

    -webkit-transform: translateZ(0);
}

@-webkit-keyframes progressmove {
    0% {
       background-position: 0 0;
    }
    100% {
       background-position: 17px 0;
    }
}
@-moz-keyframes progressmove {
    0% {
       background-position: 0 0;
    }
    100% {
       background-position: 17px 0;
    }
}
@keyframes progressmove {
    0% {
       background-position: 0 0;
    }
    100% {
       background-position: 17px 0;
    }
}

.col-edit-tbl .zoom-img .uploader-server{
    position: relative;
    display: inline-block;
    cursor: pointer;
    background: green;
    padding: 10px 15px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    overflow: hidden;
    margin: 0 auto;
}