<div class="aside-nav-list">
<ul >
    <li>
        <a href="#">首页</a>
    </li>
    <li>
        <p>文章管理<b class="arrow">></b></p>
        <ul>
            <li>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;文章列表<b class="arrow">></b></p>
                 <ul style="display: block;">
                    <li class="current"><a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;国内文章</a></li>
                    <li><a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;国际文章</a></li>
                </ul>
            </li>
            <li>
                <a href="article-add.html">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;添加文章</a>
               
            </li>
        </ul>
    </li>
    <li>
        <a href="user-list.html">用户管理</a>
        <ul>
            <li><a href="user-list.html">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;用户列表</a></li>
            <li><a href="user-add.html">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;添加角色</a></li>
        </ul>
    </li>
    <li>
        <a href="role-list.html">角色管理</a>
        <ul>
            <li><a href="role-list.html">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;角色列表</a></li>
            <li><a href="role-add.html">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;添加角色</a></li>
        </ul>
    </li>
    <li>
        <a href="perssion-list.html">权限管理</a>
        <ul>
            <li><a href="perssion-list.html">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;权限列表</a></li>
            <li><a href="perssion-add.html">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;添加权限</a></li>
        </ul>
    </li>
</ul>

</div>
