<link rel="stylesheet" type="text/css" href="<%= serverStaticUrl %>/static/common/css/base.css">
<link rel="stylesheet" type="text/css" href="<%= serverStaticUrl %>/static/common/js/bootstrap/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="<%= serverStaticUrl %>/static/admin/css/common.css">
<link rel="stylesheet" type="text/css" href="<%= serverStaticUrl %>/static/admin/css/admin.css">
<script type="text/javascript" src="<%= serverStaticUrl %>/static/common/js/jquery/jquery-1.12.4.js"></script>
<script type="text/javascript" src="<%= serverStaticUrl %>/static/common/js/vue/vue.js"></script>
