.sidebar-menu{
	width:200px; 
}
.sidebar-menu li a{
	display:block; 
	height: 45px;
    line-height: 45px;
    padding: 0 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color:#c3c1c1;
    position: relative;
    box-sizing:border-box; 
}

.sidebar-menu >li >a:hover{
	background:#4E5465;
	color:#fff;  
}
.sidebar-menu >li.active > a,.sidebar-menu >li.current > a{
	background:#4E5465;
	color:#fff; 
}

.treeview > a{
	display:block; 
	height: 45px;
    line-height: 45px;
}


.treeview > a .arrow{
	content: '';
    width: 0;
    height: 0;
    overflow: hidden;
    cursor: pointer;
    transition: all .2s;
    -webkit-transition: all .2s;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -3px;
    border-width: 6px;
	border-style: solid dashed dashed;
    border-color: #fff transparent transparent;
    border-top-color: rgba(255,255,255,.7);
}
.treeview >a:hover{
	color:#fff; 
}
.treeview > .treeview-menu{
	display:none; 
}
.treeview.active >.treeview-menu{
	display:block; 
}

.treeview >a:hover .arrow{
	border-top-color:#fff;
}

.treeview.active > a{
	color:#fff; 
}
.treeview.active > a .arrow{
	border-top-color:#fff;
}

.treeview.current > a{
	color:#fff; 
}
.treeview.current > a .arrow{
	border-top-color:#fff;
}



.treeview-menu{
	padding-left:20px;
}

.treeview-menu > li > a{
	color:#c3c1c1;
	display:inline; 
}
.treeview-menu > li.treeview > a{
	display:block; 
}
.treeview-menu > li > a:hover{
	color:#fff; 
}

.treeview-menu >li.active >a{
	color:#fff; 
}


.content-header{
	border-bottom:3px solid #3c8dbc;
}
.content-header .tit{
	float:left;
	font-size:20px; 
	padding:0 0 10px;
	
}

.breadcrumb{
	float:right; 
}

.breadcrumb li{
	float:left;
	margin-right:5px;  
}


.content-container{
	padding:20px;
}



/**
 * 上传控件
 */

.coms-zoom-img {
    float: left;
    padding: 15px 0;
}

.coms-zoom-img .no-pic {
    width: 88px;
    height: 75px;
   
    overflow: hidden;
    border:1px dashed #e5e5e5;
    padding:20px; 
    background: url("../js/webuploader/images/not_img_pic.png") no-repeat center center;
}

.coms-zoom-img .upload-img {
    float: left;
    min-width: 142px;
    padding-bottom: 15px;
}

.coms-zoom-img .upload-img li {
    float: left;
    width: 122px;
    height: 122px;
    margin-right:11px;
    overflow: hidden;
    position: relative;
}

.coms-zoom-img .upload-img li .img-wrap {
    border: 1px solid #e5e5e5;
    width: 120px;
    height: 120px;
    text-align: center;
    line-height: 120px;
}

.coms-zoom-img .upload-img li .img-wrap.preview {
    background: url("../js/webuploader/images/bg.png") repeat top center;
}


.coms-zoom-img .upload-img img {
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}

.coms-zoom-img .upload-img .handle-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 5px;
    height: 30px;
    line-height: 30px;
    background-color: rgba(0, 0, 0, 0.8);
}

.coms-zoom-img .upload-img .handle-bar .upload-btn {
    float: left;
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}

.coms-zoom-img .upload-img .handle-bar .del-btn {
    float: right;
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}

.coms-zoom-img .upload-img .error {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background: #f60;
    color: #fff;
    font-size: 12px;
    display: none;
}

.coms-zoom-img .upload-img .success {
    width: 40px;
    height: 40px;
    background: url("../js/webuploader/images/success.png") no-repeat top center;
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
}

.coms-zoom-img .upload-img .progress {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 15px;
    overflow: hidden;
    z-index: 50;
    margin-bottom: 0;
    display: none;
}

.coms-zoom-img .upload-img .progress span {
    overflow: hidden;
    width: 0;
    height: 100%;
    display: block;
    background: #1483d8 url(../js/webuploader/images/progress.png) repeat-x;

    -webit-transition: width 200ms linear;
    -moz-transition: width 200ms linear;
    -o-transition: width 200ms linear;
    -ms-transition: width 200ms linear;
    transition: width 200ms linear;

    -webkit-animation: progressmove 2s linear infinite;
    -moz-animation: progressmove 2s linear infinite;
    -o-animation: progressmove 2s linear infinite;
    -ms-animation: progressmove 2s linear infinite;
    animation: progressmove 2s linear infinite;

    -webkit-transform: translateZ(0);
}

@-webkit-keyframes progressmove {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 17px 0;
    }
}

@-moz-keyframes progressmove {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 17px 0;
    }
}

@keyframes progressmove {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 17px 0;
    }
}

.coms-zoom-img .uploader-server {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background: green;
    padding: 10px 15px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    overflow: hidden;
    margin: 0 auto;
}
