/**
 * by yyh
 */
.am-table-bordered tbody > tr:first-child > td {
  border-top: none !important; }

.coms-datatable-wrap {
  position: relative; }

.coms-datatable-bd table {
  margin-bottom: 0px !important; }
  .coms-datatable-bd table thead {
    background-color: #f2f2f2; }
    .coms-datatable-bd table thead th {
      font-weight: normal;
      padding-right: 0 !important;
      padding-left: 0 !important; }

.coms-datatable-bd table.dataTable thead .sorting:after,
.coms-datatable-bd table.dataTable thead .sorting_asc:after,
.coms-datatable-bd table.dataTable thead .sorting_desc:after {
  position: relative;
  margin-top: -12px;
  margin-left: 15px;
  display: inline-block;
  opacity: 0.5;
  font-weight: normal; }

.coms-datatable-ft {
  border: 1px solid #ddd;
  border-top: none;
  padding: 20px 10px 15px 0; }
  .coms-datatable-ft .page-num-list {
    float: right; }
  .coms-datatable-ft .page-every-count {
    float: right;
    padding: 0 10px;
    font-size: 14px;
    line-height: 24px; }
    .coms-datatable-ft .page-every-count label {
      font-weight: normal; }
    .coms-datatable-ft .page-every-count select {
      vertical-align: middle;
      margin: 0 5px; }
  .coms-datatable-ft .am-pagination > li > a, .coms-datatable-ft .am-pagination > li > span {
    padding: 5px 10px;
    font-size: 14px; }
  .coms-datatable-ft .page-info {
    float: right;
    margin-right: 10px; }
    .coms-datatable-ft .page-info .am-datatable-info {
      padding-top: 0;
      line-height: 28px; }

.coms-datatable-handler {
  position: absolute;
  bottom: 20px;
  left: 25px; }
  .coms-datatable-handler .checkall {
    font-weight: normal;
    font-size: 14px;
    line-height: 37px;
    float: left; }
    .coms-datatable-handler .checkall input {
      vertical-align: middle;
      margin-top: -1px;
      margin-right: 5px; }
