@font-face {
  font-family: "iconfont";
  src: url("/publiciconfont.eot?t=1498958776007");
  /* IE9*/
  src: url("/publiciconfont.eot?t=1498958776007#iefix") format("embedded-opentype"), url("/publiciconfont.woff?t=1498958776007") format("woff"), url("/publiciconfont.ttf?t=1498958776007") format("truetype"), url("/publiciconfont.svg?t=1498958776007#iconfont") format("svg");
  /* iOS 4.1- */ }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-dagou:before {
  content: "\e625"; }
